{% extends 'home-base.html.twig' %}

{% block title %}posts!{% endblock %}

{% block body %}


    <div class="container">
        <div class="row">
            <h1 >Post index</h1>

            <div class="col-12 text-center mt-5">
                <div class="d-flex justify-content-between">
                    <a href="{{ path('post_new') }}" type="button" class="btn btn-primary px-5">Add</a>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>

                {% for post in posts %}
                    <div class="my-2">
                        <div class="card" >
                            <div class="card-body">
                                <h3 class="card-title">{{ post.title }}</h3>
                                <p class="card-text">{{ post.content|slice(0,200) }}</p>
                                <p class="card-text">Posted by {{ post.author.email }}</p>
                                <p class="card-text">Created at {{  post.createdAt|date }}</p>
                                <a href="{{ path('post_show',{'id':post.getId}) }}" class="btn btn-primary">Show</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}



            </div>
        </div>
    </div>

{%  endblock %}


